<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
  </head>
  <body>
    <p>
      <a href="#playlist">Playlist</a>
      <a href="#songs">Collection</a>
    </p>
    <div class="viewport">

    </div>

    <div class="groups hidden">
      <button class="group" data-group="Artist">Group by artist</button>
      <button class="group" data-group="Genre">Group by genre</button>
      <button class="group" data-group="Album">Group by album</button>

      <div class="list"></div>
    </div>

    <table class="playlist hidden">
      <thead>
        <tr>
          <th>Track N˚</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

    <div class="player">
      <div class="progress clearfix">
        <input class="progress-bar" data-slider="true" data-slider-highlight="true">

        <div class="song">
          <div class="title"></div>
          <div class="infos">
            <span class="artist"></span> - <span class="album"></span>
          </div>
        </div>

        <div class="txtC">
          <ul class="controls">
            <li><i class="previous icon-fast-backward"></i></li>
            <li><i class="playback icon-play"></i></li>
            <li><i class="next icon-fast-forward"></i></li>
            <li><i class="stop icon-stop"></i></li>
          </ul>
          <span class="progress-text">
            <span class="progress-elapsed"></span> / <span class="progress-time"></span>
          </span>
        </div>
      </div>
    </div>

  <script type="text/javascript" src="/js/lib/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="/js/lib/simple-slider.js"></script>
  <script type="text/javascript" src="/js/lib/underscore.js"></script>
  <script type="text/javascript" src="/js/lib/backbone.js"></script>

  <script type="text/javascript" src="/js/hiddeable-view.js"></script>

  <script type="text/javascript" src="/js/songs-collection.js"></script>
  <script type="text/javascript" src="/js/songs-view.js"></script>

  <script type="text/javascript" src="/js/current-song-model.js"></script>
  <script type="text/javascript" src="/js/current-song-view.js"></script>

  <script type="text/javascript" src="/js/status-model.js"></script>
  <script type="text/javascript" src="/js/controls-view.js"></script>

  <script type="text/javascript" src="/js/progress-view.js"></script>

  <script type="text/javascript" src="/js/playlist-collection.js"></script>
  <script type="text/javascript" src="/js/playlist-view.js"></script>


  <script type="text/javascript" src="/js/viewport.js"></script>
  <script type="text/javascript" src="/js/router.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>