.slider {
  width: 95%;
}

.slider > .dragger {
  background: #faa94d;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  width: 16px;
  height: 16px;
}

.slider > .track, .slider > .highlight-track {
  background: #ccc;
  height: 4px;
}

